#droptarget {
    float: left;
    width: 200px;
    height: 35px;
    margin: 55px;
    margin-top: 155px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}
.modal-title{
    font-size:12px !important;
}
.questionParentContainer{
   /* width:90%;
    margin:0 auto;*/
    padding-top:20px;
}
input[type=text], select {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align:center;
    font-style:bold
}
.choiceTableContainer{
    font-family: arial, sans-serif;
    font-size:12px;
    border-collapse: collapse;
    width:75%;
    margin:0 auto;
}

.choiceTableContainer td, th {
    border: 1px solid #dddddd;
    text-align: center;

}
.crossButton{
    background-color: orange;
    color: white;
    padding: 7px 10px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:12px;
}
.btnClass{

    background-color: #4CAF50;
    color: white;
    padding: 5px 8px;
    margin: 2px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:12px;
}
.questionLabel{
    color:DodgerBlue;
    padding-left:10px;
    font-size:11px
}
.removeBtn{
    background-color: orange;
    color: white;
    padding: 5px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:8px;
    margin: 4px 0;
    font-weight:bold
}

.symbolClass{
    font-size:15px;
    font-weight:bold;
    margin-right:10px;
    width: 25px;
    height:25px;
    float: left;
    border: 1px solid black;
    text-align: center;
}
.headerStyle{
    background:#778899;
    color:white;
    padding-left:10px
}
.divTextBox{
    border-radius:5px;
    border:1px solid lightgrey;
    font-size:12px;
    width:100%;
    height:100px
}
.choiceStyle{
    text-align:center;
    width:70px;
    height:70px;
    margin:0 auto;
}
.choiceTd{
    padding-left:10px;
    font-size:15px;
    color:white;
    text-align:center;
}
.choiceSelected{

}
.emptyBox {
    height:36px;
    width:36px;
    border:1px dotted purple;
    margin:0 auto
}
.dropdownStyle{
    font-size:12px;
    width:170px;
    margin-left:10px;
    height:25px
}
.dragBox{
    border:2px solid #333;
    width:45px;height:40px;
    color:black;
    margin:0 auto;
    border-radius:2px;
    background:#FC7771
}
.modalContainer{
    background-image:url('../images/cloud-bg.png');
    background-size:100% 100%;
    background-repeat:no-repeat
}
.previewHeader{
    height:100px;
    width:70%;
    background-image:url('../images/cloud-header.png');
    background-size:100% 100%;
    height:82px;
    margin:0 auto;
    text-align:center;
    background-repeat:no-repeat
}

.multiSelectChoiceText{
    font-weight: bold;
    width: 20%;
    margin: 0 auto;
    padding-top: 20px;
    color: white;
}
.multiSelectChoiceDiv{
    width:100%;height:100%;color:black;
    background-image:url('../images/choices.png');
    background-size:100% 100%
}
.multiselectClass{
    width:100%;
    height:100%
}